body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: [inicio] 1fr 1fr 1fr [destacado-end] 1fr 1fr [destacado2-end] 1fr 1fr [fin];
    /* grid-template-rows: [inicio] 200px [inicio2] 200px [fin]; */
    gap: 5px;
    height: 100vh;
    /* grid-auto-flow: row; //Default*/
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 200px 100px; */
    grid-auto-rows: 50px 100px;
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}

.item:nth-of-type(1) {
    grid-column: inicio / destacado-end;
    grid-row: inicio / fin;
}

.item:nth-of-type(2) {
    grid-column: destacado-end / destacado2-end;
    grid-row: inicio / fin;
}

.item:nth-of-type(3) {
    grid-column: destacado2-end / fin;
    grid-row: inicio / inicio2;
}